{% extends 'base.html' %}

{% block title %}Cadastro - Controle de Gastos{% endblock %}

{% block content %}
<div class="auth-container">
    <div class="auth-card">
        <div class="auth-header">
            <h1>Criar Conta</h1>
            <p>Preencha os dados abaixo para começar</p>
        </div>

        <form method="POST" action="{% url 'cadastro' %}" class="auth-form">

            {% csrf_token %}
            <div class="form-group">
                <label>Nome</label>
                {{ form.nome}}

                {% if form.nome.errors %}
                <small class="form-error">
                    {{ form.nome.errors }}
                </small>
                {% endif %}

            </div>

            <div class="form-group">
                <label>E-mail</label>
                {{ form.email}}
                {% if form.email.errors %}
                <small class="form-error">
                    {{ form.email.errors }}
                </small>
                {% endif %}
            </div>

            <div class="form-group">
                <label>Senha</label>
                {{ form.password1 }}
                {% if form.password1.errors %}
                <small class="form-error">
                    {{ form.password1.errors }}
                </small>
                {% endif %}
            </div>
            
            <div class="form-group">
                <label>Confirmar Senha</label>
                {{ form.password2 }}
                {% if form.password2.errors %}
                <small class="form-error">
                    {{ form.password2.errors }}
                </small>
                {% endif %}
            </div>

            <button type="submit" class="btn btn-primary btn-block">
                Criar conta
            </button>
        </form>

        <div class="auth-footer">
            <p>Já tem uma conta? <a href="{% url 'index' %}">Entrar</a></p>
        </div>
    </div>
</div>

{% endblock %}